<ul id="playlist">
    <div class="container">
        <iframe width="800" height="500" id="vid_frame" src='<%= convert_link(@room.link_1) %>' frameborder="0"
            allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="vid-item" onClick="setSrc(1);" src=<%=@room.link_1 %>>
        <div class="thumb">
            <img src=<%=get_thumbnail(@room.link_1)%> alt="" />
        </div>
        <div class="desc">
            <%= get_title(@room.link_1) %>
        </div>
    </div>

    <% unless @room.link_2.to_s.empty? %>
    <div class="vid-item" onClick="setSrc(2);" src=<%=@room.link_2 %>>
        <div class="thumb">
            <img src=<%=get_thumbnail(@room.link_2)%> alt="" />
        </div>
        <div class="desc">
            <%= get_title(@room.link_2) %>
        </div>
    </div>
    <% end %>

    <% unless @room.link_3.to_s.empty? %>
    <div class="vid-item" onClick="setSrc(3);" src=<%=@room.link_3 %>>
        <div class="thumb">
            <img src=<%=get_thumbnail(@room.link_3)%> alt="" />
        </div>
        <div class="desc">
            <%= get_title(@room.link_3) %>
        </div>
    </div>
    <% end %>

    <% unless @room.link_4.to_s.empty? %>
    <div class="vid-item" onClick="setSrc(4);" src=<%=@room.link_4 %>>
        <div class="thumb">
            <img src=<%=get_thumbnail(@room.link_4)%> alt="" />
        </div>
        <div class="desc">
            <%= get_title(@room.link_4) %>
        </div>
    </div>
    <% end %>

    <% unless @room.link_5.to_s.empty? %>
    <div class="vid-item" onClick="setSrc(5);" src=<%=@room.link_5 %>>
        <div class="thumb">
            <img src=<%=get_thumbnail(@room.link_5)%> alt="" />
        </div>
        <div class="desc">
            <%= get_title(@room.link_5) %>
        </div>
    </div>
    <% end %>

    </div>
    <div class="btn-group-vertical">
        <% if current_user.id == @room.host_id %>
        <%= link_to "Delete Room", @room, method: :delete, class: "btn btn-primary btn-lg btn-block btn-color center" %>
        <% else %>
        <%= link_to "Exit Room", exit_user_path, method: :post, class: "btn btn-primary btn-lg btn-block btn-color center" %>
        <% end %>
    </div>
</ul>

<script type="text/javascript">
    function setSrc(option) {
        if (option == 1) {
            document.getElementById('vid_frame').src = '<%= convert_link(@room.link_1) %>';
        } else if (option == 2) {
            document.getElementById('vid_frame').src = '<%= convert_link(@room.link_2) %>';
        } else if (option == 3) {
            document.getElementById('vid_frame').src = '<%= convert_link(@room.link_3) %>';
        } else if (option == 4) {
            document.getElementById('vid_frame').src = '<%= convert_link(@room.link_4) %>';
        } else if (option == 5) {
            document.getElementById('vid_frame').src = '<%= convert_link(@room.link_5) %>';
        }
    }
</script>