<% provide(:title, "Sync Room | Lobby") %>
    <h1>Rooms Lobby</h1>
    <p>Here you can join any rooms that you are interested!</p>
    <div class= "btn-group-justified">
        <%= link_to "Recent", recent_rooms_path, class: "btn btn-primary btn-lg btn-block btn-color" %>
        <%= link_to "Oldest", oldest_rooms_path, class: "btn btn-primary btn-lg btn-block btn-color" %>
        <%= link_to "Most User", mostUser_rooms_path, class: "btn btn-primary btn-lg btn-block btn-color" %>
    </div>
    
    <div class="container-fluid">
        <% @rooms.each_slice(3) do |array_of_3_items|%>
        <div class="row">
            <% array_of_3_items.each do |room|%>
            <div class="col-md-4">
                <div class="panel panel-default ">
                    <div class="panel-body">
                        <h4 class="panel-title">
                            <p><%= room.room_name %></p>
                            <p>Room ID: <%= room.id %></p>
                            <p>Active User: <%= User.where(room_id: room.id ).count %></p>
                        </h4>
                        <img class="img-responsive" src=<%=get_thumbnail(room.link_1)%> alt="" />
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
<% end %>